* {
  font-size: 16px;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

button {
  background-color: aquamarine;
  border: 1px solid black;
  padding-inline: 1rem;
  padding-block: 0.4rem;
  border-radius: 0.5rem;
}

.confirm-btn {
  padding-inline: 1rem;
  padding-block: 0.4rem;
  border-radius: 0.5rem;
  justify-self: end;
}

.yes {
  margin-left: auto;
  background-color: lightskyblue;
}

.no {
  margin-left: 2rem;
  background-color: red;
}

main {
  width: 600px;
  height: 600px;
  border: 3px solid black;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

#files-form {
  padding: 2rem;
}

.response {
  margin-inline: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  /* border-top: 2px solid black; */
}

.response-header {
  color: red;
  font-style: italic;
  margin-bottom: 0.3rem;
  flex-basis: 100%;
}

.response-box {
  padding: 0.5rem;
}

.response-buttons {
  margin-left: auto;
}

.hidden {
  display: none;
}